h1, h2, h3 { margin:0; padding:0; font-weight:normal; font-style:normal; }
a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
#menu_2ec39e67 a { text-decoration: none; }
#menu_2ec39e67_pane { background-color: #E6E6E6; border: 1px solid #E6E6E6; padding-top: 10px; padding-bottom: 10px; box-shadow: 2px 2px 6px 0px rgba(8, 8, 8, 0.784314); }
#menu_2ec39e67_hr { background-color: #E6E6E6; height: 1px; border: none; }
#menu_2ec39e67_entry { padding-left: 10px; padding-right: 10px; padding-top: 3px; padding-bottom: 3px; }
#menu_2ec39e67_entry:hover { background-color: #323232; color: #FFFFFF !important; }
#menu_2ec39e67_entry:hover span { color:#FFFFFF !important; }
		.menu_2ec39e67_mainMenuEntry { text-align: center; }
		.menu_2ec39e67_mainMenuEntry:hover {	background-color:#282828; }
		.menu_2ec39e67_mainMenuEntry:hover span {	color:#FFFFFF !important; }
		#menu_2ec39e67 .mobileEntry { display: none; } 
		#menu_2ec39e67 .normalEntry { display: block; } 
		#menu_2ec39e67_menualignmentwrapper{ width:32px; left: calc(100% - 32px);  } 
		@media only screen and (max-width:550px) { 
			#menu_2ec39e67 .mobileEntry { display: block; } 
			#menu_2ec39e67 .normalEntry { display: none; } 
			#menu_2ec39e67_menualignmentwrapper { width:37px; left: calc(100% - 37px);  } 
		}
body { background-color:#FFFFFF; padding:0;  margin: 0; }
.textstyle1 { text-align:left; }
#container_9e2d23b { box-sizing: border-box; vertical-align: top; position:relative; display: inline-block; width:115%; min-height:45px; background-color:#6AB8F5; background: linear-gradient(to right, #B80CE3, #6AB8F5); border: 1px solid #545454;  }
#container_9e2d23b_padding { margin: 10px; display: block;  }
#heading_69fcba52 { vertical-align: bottom; position:relative; display: inline-block; background:none; font-size:15pt; font-family:'UD Digi Kyokasho NK-B'; color:#ECDDDD; text-align:center; font-weight:bold;  }
.textstyle2 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#menu_2ec39e67 { box-sizing: border-box; position:absolute; left:45%; top:16%; width:26%; height:29px; text-align:left; background:none; border-top: none; border-left: none; border-right: none; border-bottom: none;  }
#menu_2ec39e67_menualignmentwrapper { position: relative; overflow: visible; height: 100%; }
.menuholder1 { position: relative; overflow: hidden; width: 100%; height: 100%; }
.menustyle1 { position:absolute; width:37px; height:29px; left:0px;  }
.menuentry_text1 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:33px;  }
.textstyle3 { font-size:22pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  white-space: nowrap; }
.menustyle2 { position:absolute; width:32px; height:29px; left:0px;  }
.menuentry_text2 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:18px;  }
.textstyle4 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  white-space: nowrap; }
#container_65e5c569 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background:none;  }
#container_65e5c569_padding { margin: 10px; display: block;  }
#video_3c79d059 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:50%; background-color:#D1D1D1; border: 1px solid #A0A0A0;  }
#container_3a408b00 { vertical-align: top; position:relative; display: inline-block; width:99%; min-height:488px; background:none;  }
#container_3a408b00_padding { margin: 10px; display: block;  }
#container_74487854 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background:none;  }
#container_74487854_padding { margin: 10px; display: block;  }
#container_5b94d7a6 { vertical-align: top; position:relative; display: inline-block; width:96%; min-height:467px; background:none;  }
#container_5b94d7a6_padding { margin: 10px; display: block;  }
#container_78d6203e { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:274px; background:none;  }
#container_78d6203e_padding { margin: 10px; display: block;  }
#video_50693a0d { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:50%; background-color:#D1D1D1; border: 1px solid #A0A0A0;  }
#text_fe2fc3f { position:absolute; left:3%; top:4%; width:625px; height:82px; background:none;  }
